<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="VE_LoadingStyle.css"/>
    <link rel="stylesheet" href="../../assets/stylesheet.css"/>
</head>
<body>
    <div class="screen">
        <img src="../../assets/images/loading_VE_bg.jpg" />
        <div>
            <p>Loading Your Journey...</p>
            <!-- <button id="full_screen_btn" onClick="DoFullScreen()">Click to enter full screen</button> -->
        </div>
    </div>   
</body>

<script>

        setTimeout(function(){
            window.location.href="http://127.0.0.1:5501/screens/Virtual_Exp/VE_1.html"
        }, 4000)
</script>