@font-face {
    font-family: "PoppinsBold";
    src: url("../../assets/fonts/Poppins-Bold.ttf");
  }

@font-face {
    font-family: "PoppinsLight";
    src: url("../../assets/fonts/Poppins-Light.ttf");
}


html{
    width: 100%;
    height: 100% ;
}
body{
    margin:0;
    width: 100%;
    height: 100%;
    background-color: #091731;
    color: white
}

.screen img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.screen{
    position: relative;
    width: 100%;
    height: 100vh;
}

.screen div{
    position: absolute;
    z-index: 2;
    bottom:0;
    left:0;
    right:0;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    width:auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "PoppinsBold";
    font-size: 4vw;
    line-height: 0.7em;
    overflow-x: scroll;
}

button{
    cursor: pointer;
    font-family: "PoppinsLight";
    font-size: 1.5vw;
    background-image: linear-gradient(#113D77, #091731);
    border: none;
    color: white;
    padding: 1vw 3vw;
    border-radius: 2vw;
}